<%= form_for(@brand_bike) do |f| %>
  <% if @brand_bike.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand_bike.errors.count, "error") %> prohibited this brand_bike from being saved:</h2>

      <ul>
      <% @brand_bike.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
